@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-image: url(https://cdn.pixabay.com/photo/2014/04/02/14/09/world-map-306338_1280.png);
}

.active {
  background-color: black;
  color: white !important;
}

.card {
  transition: all 0.3s;
}

.card:hover {
  transform: scale(1.1);
}

a {
  transition: all 0.3s;
}
a:hover {
  transform: scale(1.1);
}
